[submodule "lib/activerecord"]
	path = lib/activerecord
	url = https://github.com/kla/php-activerecord.git
[submodule "lib/slim"]
	path = lib/slim
	url = https://github.com/codeguy/Slim.git
[submodule "lib/strong"]
	path = lib/strong
	url = https://github.com/silentworks/Strong.git
[submodule "lib/slim-extras"]
	path = lib/slim-extras
	url = https://github.com/codeguy/Slim-Extras.git
[submodule "lib/twig"]
	path = lib/twig
	url = https://github.com/fabpot/Twig.git
[submodule "lib/valitron"]
	path = lib/valitron
	url = https://github.com/vlucas/valitron.git
